body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    flex-direction: column;
}

.maintext {
    width: 1180px;
    height: 60px;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    color: #2E363E;
    align-items: center;
    margin-left: 370px;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 80px;
}

.item1 {
    width: 380px;
    height: 582px;
    border-radius: 16px;
    border: solid 1px lightgray;
}

.text1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 143%;
    color: #2E363E;
    margin-top: 50px;
    margin-left: 44px;
}

.text2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #2E363E;
    margin-top: 12px;
    margin-left: 44px;
}

.text3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #434B53;
    margin-top: 24px;
    margin-left: 44px;
}

.button1 {
    width: 163px;
    height: 68px;
    background-color: #FED84C;
    border-radius: 8px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    color: #2E363E;
    margin-top: 14px;
    margin-left: 44px;
}