body {
    background-color: rgb(40, 43, 46);
}

.card1 {
    display: flex;
    background-color: #000000;
    width: 1300px;
    height: 545px;
    border-radius: 32px;
    gap: 53px;
    margin-bottom: 289px;
}

.card1 img {
    display: flex;
    margin-top: 40px;
    margin-left: 40px;
}


.gear {
    display: flex;
    height: 27px;
    width: fit-content;
    margin-top: 48px;
    background-color: #191919;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    padding: 0 16px;
    margin-bottom: 48.44px;
}

.episode {
    display: flex;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #118DA8;
    margin-bottom: 18px;
}

.text {
    display: flex;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 64px;
    line-height: 70.4px;
    letter-spacing: 2.56px;
    margin-bottom: 28px;
}

.littletext {
    display: flex;
    color: #FFFFFFB2;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 18px;
}

.btn1 {
    width: 208px;
    height: 51px;
    border-radius: 6px;
    background-color: #118DA8;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}




.card2 {
    background-color: #E1EDE6;
    width: 290px;
    height: 514px;
    margin-top: 68px;
}

.card2 img {
    margin-top: 20px;
    margin-left: 20px;
}

.Anri {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #86928B;
    margin-top: 15px;
    margin-left: 20px;
}

.Dama {
    display: flex;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: #2C2D35;
    margin-top: 10px;
    margin-left: 20px;
}

.holst {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #2C2D35;
    margin-top: 10px;
    margin-left: 20px;
}

.price {
    display: flex;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #598D66;
    margin-top: 30px;
    margin-left: 20px;
}

.btn2 {
    width: 250px;
    height: 50px;
    background-color: #E1EDE6;
    color: #598D66;
    border-color: #598D66;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    margin-top: 10px;
    margin-left: 10px;
}





.card3 {
    background-color: #FFFFFF;
    width: 380px;
    height: 582px;
    border-radius: 16px;
}

.Skazka {
    display: flex;
    font-weight: 700;
    font-size: 24px;
    line-height: 143%;
    color: #2E363E;
    margin-top: 50px;
    margin-left: 44px;
}

.littletext1 {
    display: flex;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #2E363E;
    margin-top: 12px;
    margin-left: 44px;
}

.price1 {
    display: flex;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #434B53;
    margin-top: 24px;
    margin-left: 44px;
}

.btn3 {
    width: 163px;
    height: 68px;
    background-color: #FED84C;
    color: #2E363E;
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    margin-top: 14px;
    margin-left: 44px;
    border: none;
    border-radius: 8px;
}








.card4 {
    background-color: #0C0B15;
    width: 330px;
    height: 400px;
    border-radius: 16px;
    margin-top: 182px;
}

.images {
    display: flex;
    gap: 192px;
}

.img1 {
    margin-left: 27px;
    margin-top: 22px;
}

.img2 {
    margin-top: 23px;
}

.About {
    display: flex;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    margin-top: 18.3px;
    margin-left: 26.5px;
}

.littletext2 {
    display: flex;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #809FB8;
    margin-top: 24px;
    margin-left: 26.5px;
}

.bigtext {
    display: flex;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #809FB8;
    margin-top: 26px;
    margin-left: 26.5px;
}


.cards {
    display: flex;
    gap: 150px;
}