.block1 {
    display: block;
    background-color: aqua;
    height: 100px;
    width: 100px;
}

.block2 {
    display: inline;
    background-color: lime;
    height: 100px;
    width: 100px;
}

.block3 {
    display: flex;
    background-color: yellow;
    height: 100px;
    width: 100px;
}

.forflex {
    display: flex;
    background-color: blue;
    border: 1px solid black;
    height: 200px;
    width: 200px;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.size {
    display: flex;
    background-color: yellow;
    height: 300px;
    width: 300px;
    flex-wrap: wrap;
}

.size1 {
    flex: 0 0 30%
}

.size2 {
    flex: 1 1 20%
}

.size3 {
    flex: 2 3 40%
}