h1 {
    color: red;
    text-align: center;
}

p {
    font-size: 20px;
}

h2 {
    color: blue;
    font-weight: bold;
}

div {
    width: 800px;
    height: 800px;
    background-color: red;
    background-image: url('Python.png');
    padding: 10px;
    margin: 200px;
    border: 6px solid green;    
}

#first {
    background-color: red;
    background-image: none;
    width: 200px;
    height: 200px;
}

#second {
    background-color: blue;
    width: 400px;
    height: 400px;
}

#third {
    background-color: green;
    width: 600px;
    height: 600px;
}