p {
    color: blue;
}

.cl {
    font-weight: 1000;
}

#well {
    color: red;
    text-align: center;
}


p {
    color: green;
}

.cl {
    font-weight: 10000;
}

#cl1 {
    font-weight: 100;
}

#well {
    color: yellow;
    text-align: right;
}

.well1 {
    color: black;
    text-align: left;
}